*{
	margin:0px;
}
/*body{
	background-image: url(../images/bg.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

#sidebar{
	height: 100vh;
}
.mt{
	margin-top: 50px !important;
	padding: 5px;
}
.pa{
	padding: 20px !important;
}