*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto',sans-serif;
	color: rgb(255, 244, 229);
}
body{
	height: 100%;
	background: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	margin: 0;
	padding: 0;
}

.navbar-custom {
    background-color: rgba(29, 29, 30,0.9);
}


.navbar-custom.scrolled{
	background-color: white  !important;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgb(239, 140, 19);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgb(239, 140, 19);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
   color: rgb(239, 140, 19);
}

.h-mod{
	font-family: 'Montserrat', sans-serif;
}

#me{
	height: 200px;
	border-radius: 50%;
	border-color: rgba(255,255,255,0.75);
	margin-top: 50px;
}
.con-margin{
	margin: 50px 0;
	padding: 0;
}

.vh100{
	height: 100vh;
}

.container-fluid{
	background-color: rgba(29, 29, 30,0.5);
	margin: 50px 0;
}

p{
	/*color: white;*/
	/*color: rgb(255, 169, 33);*/
	font-family: 'Montserrat', sans-serif;
}
h5{
	/*color: white;*/
	/*color: rgb(255, 169, 33);*/
	font-family: 'Montserrat', sans-serif;
	padding: 0;
}

.slideInUp{
	animation-duration: 3s;
}

.progress{
	margin: 5px 0;
}

.jumbotron{
	padding: 10px 5px;
	background: rgba(29, 29, 30,0.001);
}

.text-center{
	padding: 0;
	margin:	0;
}

.progress {
  border: none;
  background: rgba(29, 29, 30,0.9);
}

.progress-bar{
	background: rgb(229, 153, 50);
}

.bg-trans{
	background: none;
}
a{
	margin-top: 10px;
	color: rgb(255, 244, 229);
	text-decoration: none;
}
a:hover{
	color: rgb(239, 140, 19);
	text-decoration: none;
}

.margin-top{
	margin: 10px 0;
}

.footer-properties{
	padding-top: 20px; 
	margin-bottom: 0;
	background-color: black;
}